[Unit]
Description=Backup my budgeting information to google drive daily.

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
