[Unit]
Description=Backup my budgeter information

[Service]
Type=oneshot
StandardOutput=journal
StandardError=inherit
ExecStart=%h/bin/budgeter_backup.sh
Restart=on-failure
RestartSec=2min

[Install]
WantedBy=default.target
